# Build artifacts
/target/
/dist/

# EnvVault data (never commit secrets)
.envvault/
*.vault
audit.db
*.keyfile

# Editor / OS noise
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea/
.vscode/
*.iml
/tmp/.tmpaJzewA/my.keyfile
/tmp/.tmpddKN88/my.keyfile
/tmp/.tmpxCdDAI/my.keyfile
/tmp/.tmpdaeNor/my.keyfile
/tmp/.tmpTGHU8K/my.keyfile
/tmp/.tmpINJc8f/my.keyfile
/tmp/.tmpwMEobZ/my.keyfile
/tmp/.tmpKZSx3O/my.keyfile
/tmp/.tmpbBdf8m/my.keyfile
/tmp/.tmpuH1txH/my.keyfile
/tmp/.tmpLj9ent/my.keyfile
/tmp/.tmpRcTmgk/my.keyfile
/tmp/.tmpfNwL1M/my.keyfile
/tmp/.tmp7VxB8N/my.keyfile
/tmp/.tmpUkYIJE/my.keyfile
/tmp/.tmpBVu5gp/my.keyfile
